* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

p {
    margin-top: 10px;
    font-size: 13px;
    text-align: justify;
}

.decoracion-al-final {
    margin-top: 10px;
    font-size: 13px;
    text-align: justify;
    border-bottom: 1px solid #874421; /* Línea inferior */
    padding-bottom: -22px;
}

.container, .book-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.book-content {
    width: 65%;
    min-width: 250px;
    max-width: 400px;
    height: 330px;
    position: relative;
    perspective: 1000px;
    transition: 1s;
}

.book {
    position: absolute;
    width: 65%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    transform-origin: left;
}

.face-front, .face-back {
    width: 100%;
    height: 100%;
    background: #E1E1D7;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.face-front {
    box-shadow: inset 3px 0px 10px -7px black;
}

.face-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-1px) rotateY(180deg);
    box-shadow: inset -3px 1px 10px -7px black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.face-back p {
    font-size: 10px;
    padding: 3px;
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5px;
}

#portada {
    background: url('../img/porta.jpeg');
}

#portada-back {
    background: url('../img/dino.jpeg');
}

#portada, #portada-back {
    background-size: 100% 100%;
}

.rectangulo {
    width: 100%;
    height: 100%;
    border: 1px solid #874421;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
}

.rectangulo p {
    font-size: 10px;
    padding: 3px;
    text-align: center;
    margin-bottom: 100px;
    font-style: italic;
    margin-top: -65px;
}

.tit {
    color: #D3FDA1;
    -webkit-text-stroke: 1px black;
}

.rectangulo .saludo-inicial {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
    padding-top: 10px;
}

.rectangulo .saludo-final {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    padding-right: 10px;
}

.img-cafe {
    width: 80px;
    height: 80px;
    margin-left: 80px;
    margin-top: -100px;
    display: block;
}

.img-estre {
    width: 60px;
    height: 60px;
    margin-left: 80px;
    display: block;
}

.decoracion-parrafo {
    border-top: 1px solid #874421;
    padding-bottom: -60px;
    margin: 0 0;
}

.decoracion-parrafo p {
    margin: 0;
}

.contenedorr {
    position: relative;
    padding: -20px;
}

.contenedorr::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #874421 transparent transparent transparent;
}

/* Media queries para hacer el diseño responsive */


@media screen and (max-width: 800px) {

    
    .ssaludo {
        padding: 20px;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: fit-content;
        border: none;
        margin-left: -500px;
    
    }

    body {
        background-image: url('../img/porta.jpeg');
        background-attachment: fixed; 
        background-repeat: no-repeat;
        background-size: cover;
    }

    .saludo-container {
        text-align: center;
        padding: 20px; 
    }
    p {
        font-size: 12px;
    }   

    .rectangulo {
        width: 100%;
        height: 100%;
        border: 1px solid #874421;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 10px;
    }
    
    .rectangulo p {
        font-size: 8px;
        padding: 3px;
        text-align: center;
        margin-bottom: 100px;
        font-style: italic;
        margin-top: -85px;
    }

    .img-cafe {
        width: 80px;
        height: 80px;
        margin-left: 50px;
        margin-top: -100px;
        display: block;
    }

    .face-front, .face-back {
        width: 100%;
        height: 100%;
        background: #E1E1D7;
        padding: 15px;
        font-size: 9px;
        box-sizing: border-box;
        overflow: hidden;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .decoracion-al-final {
        margin-top: 10px;
        font-size: 13px;
        text-align: justify;
        border-bottom: 1px solid #874421; /* Línea inferior */
        padding-bottom: -22px;
    }

    .ssaludo {
    color: aliceblue;
    display: block;
    font-size: 28px;
    font-style: oblique;
    text-decoration: none;
    padding-left: 620px;
    padding-top: 20px;
    text-align: center;
    white-space: nowrap;
    width: 12ch;
    border-right: 4px solid transparent; /* Hacer el cursor transparente */
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}}

.ssaludo {
    color: aliceblue;
    display: block;
    font-size: 28px;
    font-style: oblique;
    text-decoration: none;
    padding-left: 620px;
    padding-top: 20px;
    text-align: center;
    white-space: nowrap;
    width: 12ch;
    border-right: 4px solid transparent; /* Hacer el cursor transparente */
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;

}
@keyframes typing {
    from { width: 0; border-color: transparent; } /* Hacer el cursor transparente */
}

@keyframes blink {
    50% { border-color: transparent; }
}
